@model CardModel

<html lang="en">
    <head>
        <link rel="stylesheet" href="~/css/form.css" />
    </head>
    <body>
        <form asp-controller="Home" asp-action="Edit" method="post">
            <div class="title">Details</div> 
            
            <input asp-for="id" type="hidden"/>


            <div class="input-container ic1">
                <input asp-for="OwnerEmail" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label class="placeholder">Owner email</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Title" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label class="placeholder">Title</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Description" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label class="placeholder">Description</>
            </div>
             <div class="input-container ic2">
                <input asp-for="Status" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label class="placeholder">Status</>
            </div>
            <div class="flex-parent-element">
                <button type="text" class="btn submit flex-child-element">Edit</button>
                <a class="btn btn-danger flex-child-element" href="@Url.Action("Delete", "Home", new { id = Model.id})">Delete</a>
            </div>

        </form>
    </body>
</html>