@model CardModel

<html lang="en">
    <body>
        <form asp-controller="Home" asp-action="Create" method="post">
            <div class="title">Create</div> 
            
            <input asp-for="id" type="hidden"/>


            <div class="input-container ic1">
                <input asp-for="OwnerEmail" class="input" type="text"/>
                <div class="cut"></div>
                <label class="placeholder">Owner email</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Title" class="input" type="text"/>
                <div class="cut"></div>
                <label class="placeholder">Title</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Description" class="input" type="text"/>
                <div class="cut"></div>
                <label class="placeholder">Description</label>
            </div>

            <button class="btn submit">Submit</button>
        </form>
    </body>
</html>