@model UserModel

<html>
    <body>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="title">Login</div> 

            <div class="input-container ic1">
                <input asp-for="Email" class="input" type="text"/>
                <div class="cut"></div>
                <label class="placeholder">Email</label>
            </div>

            <div class="input-container ic2">
                <input asp-for="Password" class="input" type="password"/>
                <div class="cut"></div>
                <label class="placeholder">Password</label>
            </div>

            <div class="flex-parent-element">
                <input type="submit" class="btn submit flex-child-element" value="Login" />
                <input type="submit" class="btn submit flex-child-element" formaction="@Url.Action("Register")" formmethod="post" value="Register" /> 
            </div>
        </form>
    </body>
</html>